<%if @search!='' || @filter != ''%>
<h1><%=t('search.title')%> <%= @search %>
  <%if @filter != ''%>
      <%=t('search.price')%> <%=@filter%>$
      <%end%>
</h1>
  <h5><%=t('search.count')%>:
  <%= @count %></h5>
  <%end%>
<div class="row">
  <%if @products.count>0%>
    <%=render ProductComponent.with_collection(@products)%>
  <%end%>
</div>
<%=paginate @products%>
