<div class="">
  <h2>
      Name: <%=@product.name%>
    </h2>
    <h3>
      About: <%=@product.body%>
    </h3>
    <h3>
      Price: <%=@product.price%>
    </h3>
    <h3>
    Size: <%=@product.size%>
    </h3>
    <h3>
      Country: <%=@product.county%>
    </h3>
    <%= image_tag @product.photo, width:300 %>
</div>
<span class="p-2 text-dark"><%= link_to 'All Games', products_path, :class => 'btn btn-warning' %></span>
